:root {
    --primario: #3ab844;
    --primarioOscuro: #098a0f;
    --secundario: #d8ae04;
    --secundarioOscuro: rgb(190, 154, 6);
    --blanco: #fff;
    --negro: #000;

    --fuentePrincipal: 'Manjari', sans-serif;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    background-color: var(--blanco);
    font-size: 1.6rem;
    line-height: 1.5;
}
p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--primarioOscuro);
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    margin: 2%;
    
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}
h1, h2, h3 {
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.2rem;
}
h3 {
    font-size: 2.4rem;
}
.header {
    background-color: var(--blanco);
    text-align: center;

}
.header__logo {
    width: 18%;

}
.header__texto {
    font-family: var(--fuentePrincipal);
    font-size: 5rem;
    text-align: center;
    color: var(--secundarioOscuro);
    justify-content: center;
   


}
.footer {
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    margin-top: 2rem;
}
.footer__texto {
    font-family: var(--blanco);
    text-align: center;
    font-size: 2.2rem;
    color: var(--blanco);
    font-family: var(--fuentePrincipal);
}
.navegacion {
    background-color: var(--primarioOscuro);
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    gap: 8rem;
}
.navegacion__enlace {
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 3rem;
}
.navegacion__enlace--activo,
.navegacion__enlace:hover {
    color: var(--secundario);
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
}
.producto {
    background-color: var(--primarioOscuro) ;
    padding: 1rem;
    border-radius: 5%;
}
.producto__imagen {
    width: 100%;
}
.producto__nombre {
    font-size: 4rem;
}
.producto__precio {
    font-size: 2.8rem;
    color: var(--secundario);
}
.fibra__contenido {
    text-align: justify;
}
.producto__nombre,
.producto__precio {
    font-family: var(--fuentePrincipal);
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
}
.grafico {
    min-height: 20rem;
    background-repeat: no-repeat;
    background-size: contain;
}
.grafico--coloncleanser {
    grid-row: 1 / 2;
    display: grid;
    margin-top: 8rem;
    background-image: url(../img/101703944_251081269642575_8934752089989447680_o.jpg);
    
    
}
.grafico--coloncleanser1 {
    background-image: url(../img/94883347_226874795396556_5352614649181241344_o.jpg);
    grid-column: 2 / 2;
    display: grid;
    margin-top: 8rem;
}
@media (min-width: 768px) {
    .grafico--coloncleanser1 {
        grid-column: 2 / 2;
    } 
    .grafico--coloncleanser {
        grid-column: 1 / 2;
       
    }
}
.nosotros {
    display: grid;
    grid-template-rows: repeat(2, auto);
    text-align: justify;
    font-size: 2.6rem;

}
.nosotros__contenido {
    color: var(--primarioOscuro);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
}
@media (min-width: 768px) {
    .nosotros {
        grid-template-columns: repeat(2 , 1fr);
        column-gap: 2rem;
    } 
}
.nosotros__imagen {
    grid-row: 1 / 2;
    width: 100%;
    border-radius: 5%;
    }
@media (min-width: 768px) {
        .nosotros__imagen {
            grid-column: 2 / 3;
        }
}
.bloques{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

}
@media (min-width: 768px) {
        .bloques {
            grid-template-columns: repeat(3, 1fr);
        }
}
.bloque {
    text-align: center;
}
.bloque__imagen {
    width: 70%;
    background-color: #d9ecda;
    border-radius: 100%;

}
.bloque__titulo {
    margin: 0;
}
@media (min-width: 768px) {
    .fibra {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
        
}
.formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;


}
.formulario__campo {
    border-color: var(--primarioOscuro);
    border-width: 1rem;
    border-style: solid;
    background-color: transparent;
   
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    border-radius: 1rem;

}
.formulario__submit {
    background-color: var(--secundario);
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
    padding: 2rem;
    transition: background-color .3s ease;
    grid-column: 1 / 2;
    text-align: center;
    border-radius: 1rem;
   
}
.formulario__submit:hover {
    cursor: pointer;
    background-color: var(--secundarioOscuro);
    
}
